<div class="testimonials">
  <div class="testimonials-header">
    <h1>Testimonials</h1>
  </div>
  <div class="testimonials-container">
    <mat-card class="tesmonials-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> asdasds</mat-card-content> </mat-card
    ><mat-card class="tesmonials-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> asdasds</mat-card-content> </mat-card
    ><mat-card class="tesmonials-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> asdasds</mat-card-content> </mat-card
    ><mat-card class="tesmonials-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> asdasds</mat-card-content> </mat-card
    ><mat-card class="tesmonials-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> asdasds</mat-card-content>
    </mat-card>
  </div>
</div>
