<div class="info">
  <div class="info-intro">
    <h1>Karme</h1>
    <h2>
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum aspernatur
      <br />
      Lconsectetur culpa praesentium! Provident iusto expedita corrupti quam
      <br />
      Lpossimus sint perferendis aperiam nobis architecto. Praesentium fugit
      <br />
      Laccusamus iure cum ex!
    </h2>

    <button class="info-button" mat-raised-button>Im driver</button>
    <button class="info-button" mat-raised-button>I wanna service</button>
  </div>
  <div class="info-image-container">
    <img
      src="/assets/images/driver.jpeg"
      alt="driver"
      width="400"
      height="400"
      class="info-driver-image"
    />
  </div>
</div>
