<mat-toolbar class="nav">
  <span
    ><img src="/assets/images/icons.png" height="35" width="35" alt=""
  /></span>
  <span class="example-spacer"></span>

  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <!-- <button
    mat-icon-button
    class="example-icon"
    routerLink="/"
    aria-label="Example icon-button with menu icon"
  > </button>--><button class="nav-button" mat-stroked-button>SignIn</button
  ><button class="nav-button" mat-stroked-button>LogIns</button>
</mat-toolbar>
