<app-navbar></app-navbar>
<div class="driver">
  <div class="section1"></div>
  <a routerLink="/dashboard/vehicles">
    <div class="vehicle-section section">
      <h2 class="asd">Vehicles section</h2>
    </div></a
  >
  <a routerLink="/dashboard/drivers">
    <div class="drivers-section section">
      <h2>Drivers section</h2>
    </div></a
  >
  <a routerLink="/dashboard/reports">
    <div class="reports-section section">
      <h2>Reports</h2>
    </div>
  </a>
  <a routerLink="/dashboard/driverperfil">
    <div class="perfil-section section">
      <h2>Perfil</h2>
    </div></a
  >
</div>
